.Notification {
  width: 54px;
  height: 54px;
  align-items: center;
  justify-content: center;
  background: var(--second-color-background);
  backdrop-filter: blur(50px);
  border-radius: 50%;
}

.NotificationWrapper {
  flex-direction: column;
  width: 472px;
  gap: 16px;
  border-radius: 20px;
}
.NotificationWrapper__header {
  justify-content: space-between;
}
.NotificationWrapper__body {
  justify-content: center;
  align-items: center;
}
