.AddModalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: var(--second-color-background);
  border-radius: 24px;
  padding: 24px;
  backdrop-filter: blur(50px);
}
