.Calendar {
  width: 440px;
  height: max-content !important;
  height: 100%;
  border-radius: 34px;
  background-color: var(--main-color-background);
  padding: 16px;
  flex-direction: column;
}
.Calendar__Header {
  
}