.UserActive {
  padding: 8px 16px 8px 8px !important;
  border-radius: 34px;
  background-color: var(--background-components-primary);
  height: max-content;
  align-items: center;
  justify-content: center;
}
